  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: "Poppins", sans-serif;
  color: black;
}

.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 3% 5%;
  z-index: 10;
}

.navbar__brand {
  width: 100px;
  height: 100%;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navbar__brand {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.navbar_nav_items {
  display: flex;
  align-items: center;
}

.main-nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.main-nav a:hover {
  color: #ccc;
}

.brand__logo {
  margin-right: 20px;
  height: 50px;
}

.brand__logo {
  width: 100%;
  height: 100%;
}

.language_drop_down {
  background: transparent;
  border: none;
  color: rgb(255, 255, 255);
}

.language_drop_down:focus {
  outline: none;
}

.language_drop_down option {
  background-color: rgb(0, 0, 0);
}

.dropdown__container {
  border: 1px solid rgb(255, 255, 255);
  padding: 0.4rem;
  border-radius: 4px;
  background: transparent;
  color: white;
}

.signin__button {
  background-color: #dc030f;
  border: 1px solid #dc030f;
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
}

.navbar_nav_items {
  display: flex;
  gap: 10px;
}

.company_bgvideo_container {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  z-index: -2;
}

.company_bg_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.company_bg_overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 80vh;
  background: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.company__card {
  position: absolute;
  top: 20%;
  text-align: center;
  display: flex
  flex-direction: column;
  gap: 10px;
}

.company__title {
  font-weight: 600;
  font-size: 2rem;
  color: white;
}

.company__subtitle,
.company__description {
  font-weight: 400;
  font-size: 1rem;
  color: white;
}

.company__description {
  margin: 0 50px;
}

.email__input {
  border: none;
  background: transparent;
  width: 100%;
  height: 100%;
  padding-left: 7px;
}
.email__label {
  color: black;
  position: absolute;
  top: 28%;
  left: 2%;
  color: rgb(153, 149, 149);
  transition: 0.5s;
}

.email_form_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.form__container {
  background-color: white;
  width: 90%;
  height: 50px;
  position: relative;
}
.carousel-item {
  position: relative;
}

.carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
  z-index: 1; /* Ensure the gradient overlay is above the image but below the caption */
}

.carousel-item img {
  width: 100%;
  height: auto;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
  z-index: 2;
}

.carousel-caption h5 {
  font-size: 24px;
  margin-bottom: 10px;
}

.carousel-caption p {
  font-size: 16px;
}


.carousel-inner {
  transition: transform 0.5s ease-in-out;
  width : 100%;
  height : 80%;
}
.carousel:hover .carousel-inner {
  transform: scale(1.05);
  
}
.carousel-item {
  position: relative;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
  
}

.carousel-caption h5 {
  font-size: 24px;
  margin-bottom: 10px;
}

.carousel-caption p {
  font-size: 16px;
}
.carousel-item img {
  transition: transform 0.5s ease-in-out;
  
}
.carousel-item img:hover {
  transform: scale(1.1);
}

.email_input:focus + .email_label {
  top: 0.2rem;
  font-size: 10px;
}

.email_input:not(:placeholder-shown).emailinput:not(:focus) + .email_label {
  top: 0.2rem;
  font-size: 10px;
}

.email__input:focus-visible {
  outline: none;
}

.primary__button {
  background-color: #dc030f;
  border: 1px solid #dc030f;
  color: white;
  padding: 0.8rem 1.2rem;
  border-radius: 2px;
  font-size: 15px;
  letter-spacing: 1px;
}

.feature {
  border-top: 8px solid #222;
  padding: 2rem 1rem;
}

.feature__details {
  text-align: center;
}

.feature__title {
  font-size: 25px;
  font-weight: 600;
  margin: 10px 0;
}

.feature_sub_title {
  font-size: 15px;
  font-weight: 400;
}

.feature_image_container {
  width: 100%;
  position: relative;
}
.feature__image {
  width: 100%;
}

.feature_backgroudvideo_container {
  position: absolute;
  width: 100%;
  top: 20%;
  left: 13%;
  height: 100%;
  max-width: 73%;
  max-height: 54%;
  z-index: -2;
}

.feature_backgroud_video {
  width: 100%;
}

.feature_2poster_container {
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 16em;
  display: flex;
  align-items: center;
  background-color: black;
  border: 2px solid rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  height: 60px;
  padding: 0.25rem 0.6rem;
  gap: 15px;
}

.poster__container {
  width: 20%;
}

.poster {
  width: 100%;
  height: 100%;
}
.poster__details {
  width: 60%;
}
.poster__details > h4 {
  font-size: 13px;
  font-weight: 500;
}
.poster__details > h6 {
  font-size: 12px;
  font-weight: 400;
  color: rgb(63, 63, 246);
}

.download_gif_container {
  width: 20%;
  height: 100%;
}
.gif {
  width: 100%;
  height: 100%;
}

.feature_3backgroudvideo_container {
  max-width: 63%;
  max-height: 47%;
  z-index: -2;
  top: 9%;
  left: 19%;
}

.FAQ__accordian {
  width: 100%;
}
.FAQ__title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  font-size: 18px;
  background-color: #303030;
  border: 1px solid #303030;
  color: white;
}

.FAQ__visible {
  background-color: #303030;
  border-top: 1px solid black;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.FAQ__visible > p {
  margin: 1rem;
  color: white;
}
.FAQ_list_container {
  border-top: 8px solid #222;
  padding: 2rem 0;
  color: white;
}
.FAQ__heading {
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  margin: 1rem 3rem;
  color: black;
}

.FAQ__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.FAQ_getstarted_email {
  text-align: center;
}

.FAQ_getstarted_email > h3 {
  font-size: 18px;
  font-weight: 400;
  margin: 2rem 0;
  color: black
}

footer {
  border-top: 8px solid #333;
  padding: 2rem 1rem;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer_row_2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}
.footer_row_3 {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.dropdown__container {
  display: flex;
  align-items: center;
  width: auto;
}

.language_drop_down {
  width: 100px;
  margin-left: 10px;
}

.fas.fa-globe {
  font-size: 20px; 
}

.footer_row_1 > h4 {
  font-size: 15px;
  font-weight: 500;
}
.footer_row3{
  width: 10%;
}


.footer_row_1 h4,
.footer_row_2 p,
.footer_row_3 .dropdown__container,
.footer_row_3 .language_drop_down,
.footer_row_4 p {
  color: black;
}

.footer_row_2 p {
  margin: 0 0 10px 0;
}

.footer_row_2 .column__1,
.footer_row_2 .column__2,
.footer_row_2 .column__3,
.footer_row_2 .column__4 {
  margin-bottom: 20px;
}

.footer_row_3 .dropdown__container i,
.footer_row_3 .dropdown__container select {
  color: black;
}

.footer_row_4 p {
  margin-top: 10px;
}


.footer_row3 > .dropdown_container {
  width: 10%;
  border: 1px solid #757575;
  color: #757575;
}

.footer_row3 > .dropdowncontainer > .languagedrop_down {
  color: #757575;
}

@media (min-width : 430px){
  .company_bgvideo_container {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
  }
  .company_title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    font-size: 2rem;
    color: white;
    z-index: 1;
  }
}



@media (min-width: 768px) {
  .main-nav {
    grid-area: auto;
    padding: 0 30px 0 20px;
    color: white;
  }
  .main-container {
    padding: 100px;
  }
  .box {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
  }
  
.box a {
  transition: transform .3s;  
}
.icons{
  text-align: center;
}

.fa-brands .fa-youtube .fa-2x{
  color: #FF0000;
}

.fa-brands .fa-twitter .fa-2x{
  color: aqua;
}

.fa-brands .fa-instagram .fa-2x{
  color: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);;
}

.box a:hover {
  transition: transform .3s;
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);  
  transform: scale(1.2);
  display: grid;
}

.box img {
  border-radius: 5px;
  height: 200px;
  width: relative;
}
  .company_bgimage_container {
    height: 100vh;
  }

  .company_bg_overlay {
    height: 100vh;
  }
  .company__card {
    top: 40%;
    left: 30%;
    transform: translate(-20%, -20%);
  }
  .company__title {
    font-size: 3rem;
  }
  .company__subtitle,
  .company__description {
    font-size: 1.3rem;
  }

  .feature {
    padding: 4rem;
  }

  .feature__title {
    font-size: 35px;
  }

  .feature_sub_title {
    font-size: 20px;
  }
  .feature_2poster_container {
    max-width: 26em;
    height: 85px;
  }
  .poster__container {
    width: 15%;
  }
  .download_gif_container {
    width: 3rem;
    height: 3rem;
  }

  .poster__details > h4 {
    font-size: 18px;
  }
  .poster__details > h6 {
    font-size: 14px;
  }
  .FAQ__title {
    font-size: 20px;
  }
  .FAQ__heading {
    font-size: 38px;
    font-weight: 500;
    letter-spacing: 1px;
  }
  .FAQ__list {
    padding: 1rem 5rem;
  }
  .FAQ_getstarted_email {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(15%);
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .navbar {
    padding: 2% 5%;
    
  }

  .navbar__brand {
    width: 200px;
  }

  .signin__button {
    padding: 10px 20px;
    font-size: 18px;
  }
  .dropdown__container {
    padding: 10px 5px;
  }

  .navbar_nav_items {
    gap: 30px;
  }


  .form__container {
    width: 50%;
  }
  .email_form_container {
    flex-direction: row;
    align-items: center;
    gap: 1px;
  }
  .primary__button {
    height: 50px;
  }

  .feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  .feature__details {
    text-align: left;
    padding: 0 6rem;
  }

  .feature__title {
    font-size: 50px;
  }

  .feature_sub_title {
    font-size: 25px;
  }

  .feature_image_container {
    max-width: 500px;
  }

  .feature:nth-child(even) {
    flex-direction: row-reverse;
  }

  .feature_2poster_container {
    max-width: 20em;
    height: 100px;
    padding: 1rem;
  }
  .poster__container {
    width: 20%;
  }
  .FAQ__list {
    padding: 1rem 10rem;
  }
  .FAQ_getstarted_email {
    transform: translateX(16%);
  }
  footer {
    padding: 2rem 10rem;
    justify-content: flex-start;
    text-align: left;
    align-items: flex-start;
  }

  .footer_row_2 {
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    color: white;
  }

  .footer_row_1,
  .footer_row_3,
  .footer_row_4 {
    align-self: flex-start;
    color: white;
  }
  .main-nav {
    grid-area: auto;
    padding: 0 30px 0 20px;
    color: white;
  }
  .main-container {
    padding: 100px;
  }
  .box {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
  }
  
.box a {
  transition: transform .3s;  
}
.icons{
  text-align: center;
}

.fa-brands .fa-youtube .fa-2x{
  color: #FF0000;
}

.fa-brands .fa-twitter .fa-2x{
  color: aqua;
}

.fa-brands .fa-instagram .fa-2x{
  color: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);;
}
.box a:hover {
  transition: transform .3s;
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);  
  transform: scale(1.2);
  display: grid;
}

.box img {
  border-radius: 5px;
  height: 200px;
  width: relative;
}
}
